patches export-ignore
vendor/bin export-ignore
web/core/tests/**/* export-ignore
web/core/modules/*/tests/**/* export-ignore
web/core/themes/*/tests/**/* export-ignore
web/sites/default/files/php export-ignore
web/core/assets export-ignore

vendor/*/.github/**/* export-ignore
vendor/*/*.md export-ignore
vendor/*/*.dist export-ignore
vendor/*/*.lock export-ignore
vendor/*/tests/**/* export-ignore
